.add-order-button {
  all: unset;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-order-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.add-order-button:active {
  transform: scale(0.98);
}