/* Styling for the add order button */

.add-order-button {
    /* Setting the position */
    position: fixed;
    top: 40px;
    right: 20px;

    background-color: #4CAF50; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Adding shadow */
  
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
    transform-origin: center;
  }
  
  /* Keeping the text seperate */
  .add-order-text {
    display: inline-block;
    transform: none; /* No scaling effect on text itself */
    font-weight: bold;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  /* Hover effect */
  .add-order-button:hover {
    background-color: #45a049; /* Change background color on hover */
    transform: scale(1.05); /* Smooth scaling */
  }
  
  /* Press effect */
  .add-order-button:active {
    transform: scale(0.98); /* Press effect */
  }