/* Contains all specific styles for the App.jsx -> Component specific */

header {
  background-color: #5f5e5d; /* Background color */
  padding: 5px; /* Padding ^&v */
  border-bottom: 2px solid rgb(255, 255, 255); /* Border */
}

/* Logo styling */
.logo {
  display: block; /* Use flexbox */
  margin-right: auto; /* Margin -> center */
  margin-left: auto; /* Margin -> center */
}