/* Contains very broad styling -> page formatting*/

/* Header styling */
header {
  background-image: radial-gradient(circle, #706f6f, #5f5e5d,#353534); /* Background color */
  padding: 1vh 5vw; /* Padding ^&v  -> Dynamic to the screen size */

  border-bottom: 2px solid rgb(255, 145, 2); /* Border */
  box-shadow: 0px -2px 20px 5px rgb(0, 0, 0); /* Adding shadow to box */

}


/* Board viewport styling */
.board {
  display: flex; /* Create columns */
  gap: 2vw; /* Dynamic gap */
  padding: 2vw; /* Padding */
  justify-content: center; /* Distribute space evenly */
}


/* Column viewport styling */
.columnBacklog,
.columnInProgress,
.columnCompleted {
  min-width: 20vw; /* Dynamic width -> percentage of screen */
  min-height: 75vh; /* Dynamic height -> percentage of screen*/
  overflow-y: auto; /* Incase there is overflow when too many orders arrive */
}


/* Add order button formatting */
.add-order-button {
  display: flex; /* Create a flex container */
  padding: 1vh 1vw; /* Padding -> Dynamic*/

  max-height: 5vh; /* Dynamic height */
  max-width: 10vw; /* Dynamic width */

  min-height: 2.5vh; /* Dynamic height */
  min-width: 5vw; /* Dynamic width */

}

.add-order-text {
  font-size: clamp(0.5rem, 1vw, 1rem); /* Dynamic scaling */
}