/* ### Global Styles ### */

/* Tailwind directives */
@import "tailwindcss";

/* Reset margin and padding for html and body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* html takes full height*/
}

/* Root styling */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /* Font */
  background-color: #242424; /* Background color */
  display: flex;
  flex-direction: column; /* board stretches to fill the remaining height */

  /* Temporaraly removing overflow -> gets annoying when using the order menu */
  
  /*overflow: hidden; */
  user-select: none; /* Prevent text selection -> gets annoying when using the order menu */
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-4deg); }
  50% { transform: rotate(4deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

.wiggle-on-hover:hover {
  animation: wiggle 0.6s ease-in-out;
}